#pokemon-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    margin: 10px;
    width: 200px;
    border-radius: 5px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding: unset;
}

li {
    list-style: none;
    background: lightgray;
    margin: 5px;
    border-radius: 2px;
    padding-inline: 20px;
    font-weight: normal;
}

p{
    font-weight: bold;
}

span {
    font-weight: normal;
}